.peer_id {
  width: 100%;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  height: 1rem;
  margin-bottom: 5px;
}
.peer_privKey {
  width: 100%;
  font-size: 12px;
  height: 16rem;
  margin-bottom: 5px;
}
.peer_pubKey {
  width: 100%;
  font-size: 12px;
  height: 8rem;
}
